---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="That Christian Coder"
  description="Stories about code, church tech, faith, worship, and life."
  author="That Christian Coder"
  url="https://thatchristiancoder.com/404"
>
  <h1 class="heading text-center">404</h1>
  <p class="paragraph text-center">The page you requested cannot be found!</p>
</BaseLayout>
