---
import BaseLayout from "../layouts/BaseLayout.astro";
import Introduction from "../components/Introduction.astro";
import Featured from "../components/Featured.astro";
import Newsletter from "../components/Newsletter.astro";
---

<BaseLayout
  title="That Christian Coder"
  description="Stories about code, church tech, faith, worship, and life."
  author="That Christian Coder"
  url="https://thatchristiancoder.com"
>
  <div class="center">
    <section>
      <Introduction />
    </section>
    <hr />
    <section>
      <Featured />
    </section>
    <hr />
    <section>
      <Newsletter />
    </section>
  </div>
</BaseLayout>
