---

---

<h1 class="heading">Hey</h1>
<div class="paragraph">
  <p>
    Ryze is a modern, clean and SEO-friendly blog starter built with Astro and
    Tailwind CSS. It's designed with accessibility in mind and offers a smooth,
    responsive and comfortable reading experience across all devices.
  </p>
  <p>
    Explore the featured section or check <a
      href="https://github.com/8366888C/Ryze/blob/main/README.md"
      target="blank"
      class="link animation">README</a
    > for more info.
  </p>
</div>
