---

---

<nav class="flex items-center justify-center gap-4">
  <a
    href="/"
    class:list={[
      "navigation animation",
      Astro.url.pathname === "/" ? "text-accent" : "",
    ]}>blog</a
  >
  <a
    href="/about"
    class:list={[
      "navigation animation",
      Astro.url.pathname.startsWith("/about") ? "text-accent" : "",
    ]}>about</a
  >
  <a
    href="/wtrfll"
    class:list={[
      "navigation animation",
      Astro.url.pathname.startsWith("/wtrfll") ? "text-accent" : "",
    ]}>wtrfll project</a
  >
</nav>
